.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  color: #333;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
}

.map_marker_pop {
  cursor: default;
  z-index: 0;
  display: block;
  width: 294px;
  height: 203px;
  border: none;
  border-radius: 3px;
}

p {
  display: initial;
  margin-block-start: initial;
  margin-block-end: initial;
  margin-inline-start: initial;
  margin-inline-end: initial;
}

.map_marker_pop header {
  background: #8c8279;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  padding: 10px 0;
  text-indent: 20px;
}

.map_marker_pop_inner {
  height: 143px;
  margin: 0 auto;
  width: 254px;
}

.map_marker_pop article {
  height: 163px;
  position: relative;
  width: 294px;
}

.icon_wrap {
  border-bottom: 1px solid #ddd;
  height: 40px;
  width: 254px;
}

.icon_wrap_l {
  float: left;
  height: 20px;
  margin-top: 10px;
  width: 177px;
}

.icon_wrap_l img {
  float: left;
  margin-right: 3px;
}

.map_marker_pop_inner div.cont_wrap {
  height: 103px;
  position: relative;
  width: 254px;
}

.map_marker_pop_inner div.cont_wrap p {
  margin: 0;
  color: #666;
  float: left;
  font-size: 12px;
  min-height: 14px;
  line-height: 14px;
  margin-top: 10px;
  padding-left: 17px;
  width: 237px;
}

.map_marker_pop_inner div.cont_wrap a.btn_marker_detail {
  background: #222;
  border-radius: 3px;
  bottom: 0;
  color: #fff;
  display: block;
  font-size: 12px;
  font-weight: bold;
  height: 30px;
  left: 50%;
  line-height: 30px;
  margin-left: -45px;
  position: absolute;
  text-align: center;
  width: 90px;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-decoration: none;
  vertical-align: baseline;
  color: #666;
  background: transparent;
  cursor: pointer;
}

.phone {
  background: url("/static/img/phone.png") 0 0 no-repeat;
  background-size: 15px 13px;
  font-size: 15px;
  padding-left: 20px;
}

.addr {
  background: url("/static/img/placeholder.png") 0 0 no-repeat;
  background-size: 15px 15px;
  font-size: 15px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  padding-left: 20px;
}
